@import '../../styles/globals';

.WalletPageContent {
  padding: @page-content-padding;

  .CreatedTokensContainer  {
    .rounded-bordered-container();
    padding: @padding-lg;

  }

  .TokenBalancesContainer {
    .rounded-bordered-container();
    padding: @padding-lg;


  }

}
