@import '../../../styles/globals';

.TokenBalanceRow {
  .rounded-bordered-container();
  padding: @padding-md;
  background-color: @background-color-tertiary;

  &:hover {
    background-color: @background-color-secondary;
  }

  .UserCreatedTag {
    background-color: @background-color-secondary;
    border: 1px solid @primary-color;
  }

  .CreateSaleRedemptionButtonContainer {
    margin-top: @margin-xs;
  }

  .TokenDetailsText {
    margin: 0;
  }

  .BalanceActionsCol {
    text-align: end;

    .ant-btn {
      padding: 0;
    }
  }
}
